{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/env",
        "@babel/preset-react",
        "@babel/typescript"
      ]
    }
  }
}
